body{
	background-color: lightblue;
}

.logo{
	background-color: white;
	text-align: center;
	font-family: cursive;
}
.itema{
	
	border: 1px solid blue;
	font-size: 30px;
	margin-top: 1%;
	padding: 0px;
	
	
}
.itemb{
	font-size: 30px;
	border: 1px solid blue;
	margin-top: 1%;
	padding: 0px;
	

}
.itemc{
   font-size: 30px;
    border: 1px solid blue;
    margin-top: 1%;
	padding: 0px;
    
}

.itemd{
	font-size: 30px;
	border: 1px solid blue;
	margin-top: 1%;
	padding: 0px;
	
}

.iteme{
	font-size: 30px;
	border: 1px solid blue;
	margin-top: 1%;
	padding: 0px;
	
	
}
.title1{
	background: skyblue;
	padding: 0px;
}
.title2{
	background-color: skyblue;
	padding: 1px 10px;
	
}
.title3{
	background: skyblue;

}
.title4{
	background: skyblue;
}
.title5{
	background: skyblue;
}
